@font-face {
    font-family: "Kica-Light";
    src: url("/fonts/IFKica-Light.woff2") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "NyghtSerif-LightItalic";
    src: url("/fonts/NyghtSerif-LightItalic.woff2") format("opentype");
    font-weight: normal;
  }

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
    background: #171717;
    background-image: linear-gradient(rgba(255, 255, 255, .1) .1em, transparent .1em), linear-gradient(90deg, rgba(255, 255, 255, .1) .1em, transparent .1em);
    background-size: 10em 10em;
    color: whitesmoke;
    margin: 0;
    height: 100vh;
    font-family: 'Montserrat', 'serif';
    font-size: 1.5em;
    letter-spacing: 1px;
}

main {
    padding: 10% 5%;
}

h1 {
    margin-top: 0;
    font-family: 'Kica-Light', serif;
    font-size: 4em;
    letter-spacing: 5px;
}

.bottom {
    margin-top: 2em;
    line-height: 1.75em;
}

.socialsCont {
    margin-top: 2.5em;
}

footer {
    position: absolute;
    padding: 5%;
    bottom: 0;
}
.copy {
    font-family: 'NyghtSerif-LightItalic', 'serif';
    font-style: italic;
}

@media(max-width:980px){
    h1 {
        font-size: 9.5vw;
    }
}
@media(max-width:675px){
    body {
        font-size: 1em;
    }
    h1 {
        font-size: 18vw;
    }
}



span {
    font-size: 2em;
    vertical-align: middle;
    padding: 0.2em;
}

.fa {
    text-decoration: none;
    color: white;
}
.fa:before {
    padding-right: 0.2em;
    font-size: 2em;
}